* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  /* background: url(assets/bg.png);
  background-attachment: fixed;
  background-repeat: 0;
  background-size: 100%; */
  background: #12181b;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* transition: 0.2s; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#12181b, #575757);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #12181b;
  position: fixed;
  z-index: -1;
}
.align1 {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.align2 {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.align3 {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.card {
  width: 20vw;
  height: 400px;
  /* padding: 0 40px;  */
  margin: 0 20px 0 20px;
  border-radius: 10px;
  border: solid rgba(255, 255, 255, 0.4);
  border-width: 2px 1px 1px 2px;
  box-shadow: 7px 38px 45px -5px rgba(0,0,0,0.3);;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  /* overflow: hidden;  */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  /* z-index: 1; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  /* transform-style: preserve-3d; */
  /* transform: translateZ(20px); */
  -webkit-user-select: none;
  user-select: none;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  /* transform: translateZ(-20px); */
}

.nest {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}
.fire__chro img {
  position: absolute;
  z-index: 100;
  height: 500px;
  /* opacity: 0.9; */
  scale: 0.8;

  filter: brightness(0);
  /* transform:translateY(50px); */
  transition: transform 0.5s cubic-bezier(0.79, 0, 0.16, 0.99),
    filter 0.4s cubic-bezier(0.79, 0, 0.16, 0.99);
  transform: translateZ(50px);
}

/* .fire__chro:hover{
  transform: translateY(-30px);
} */
.nest:hover img {
  filter: brightness(1);
}
.fire__chro:hover .backtitle {
  display: block;
}
.backtitle.active {
  opacity: 100;
  transform: translateX(-25%);
}

.backtitle {
  color: #fff;
  font-family: roboto;
  font-weight: 900;
  font-size: 102px;
  position: absolute;
  left: 15%;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none;
  opacity: 0;
  z-index: 50;
  transition: transform 0.5s, opacity 0.25s;
}

/* .card {
  width: 300px;
  height: 400px;
   padding: 0 40px; 
  border-radius: 10px;
  border: solid rgba(255, 255, 255, 0.4);
  border-width: 2px 1px 1px 2px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden; 
  backdrop-filter: blur(6px);
  z-index: 1;
} */
#plant1 {
  height: 330px;
}
#plant2 {
  height: 300px;
}
#plant3 {
  height: 400px;
}
#plant4 {
  height: 500px;
}
#plant5 {
  height: 330px;
}
#plant6 {
  height: 300px;
}
#plant7 {
  height: 400px;
}
#plant8 {
  height: 350px;
  /* transform: rotate(40deg); */
}
#plant9 {
  height: 330px;
}
#plant10 {
  height: 300px;
}

#title4 {
  left: 25%;
}
.bgs {
  --gradient2: linear-gradient(#00bf8f, #001510);
  --gradient1: linear-gradient(#ff008a, #101c25);
}
.bgobj {
  position: fixed;
  z-index: -10;
  /* all: unset; */
  border-radius: 50%;
}
.bgobj::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.bg-object1 {
  height: 500px;
  width: 500px;
  left: -10%;
  top: -15%;
  transform: rotate(50deg);
  background: var(--gradient1);
}
.bg-object1::after {
  background: var(--gradient1);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -11;
}
.bg-object2 {
  height: 500px;
  width: 500px;
  right: -10%;
  /* bottom: -15%; */
  bottom: 10%;
  transform: rotate(50deg);
  background: var(--gradient2);
}
.bg-object2::after {
  background: var(--gradient2);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -11;
}

.data_chart {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ccc;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;

  /* flex-direction: column; */
}
.columns {
  display: block;
}
.info {
  margin: 7px;
}
.txt_display {
  display: inline-block;
  padding-left: 10px;
}
.data {
  color: #fff;
  transition: opacity 0.3s;
  /* width: 400px; */
}
.footer {
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100vw;
  height: 50px;
  background-color: #22262f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer p {
  display: inline;
  font-family: poppins;
}
.footer a {
  color: #b1b1b1;
}
.heading {
  text-align: center;
  font-family: cursive;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}
.tooltip{
  display: none;
  position: absolute;
  z-index: 700;
}
.tooltip.active{
  position: absolute;
  display: block;
  bottom: 10%;
  color: rgb(182, 182, 182);
  font-family:sans-serif;
  font-weight: 600;
  animation: tooltip 0.3s ease-in-out;
}
.js-tilt-glare{
  border-radius: 20px;
}
@keyframes tooltip {
  0%{
    bottom: 8%;
    opacity: 0%;
  }
}


#progress {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.25s opacity;
  user-select: none;
}
#progress:hover{
  opacity: 1;
}
#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #001a2e;
}
